lib/font/tables/.DS_Store
.DS_Store
/node_modules/
node-zlib/
playground/
build/
js/
!docs/js/
!docs/js/scroll.js
.vscode
.idea
coverage
package-lock.json
/examples/browserify/bundle.js
index.html
/.yarn/install-state.gz
